<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{'CryptoGame'|trans}}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('crypto.list')}}">CryptoGame</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{'Cryptomonnaies' |trans}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" href="{{ path('crypto.list')}}">{{'Cryptomonnaies' |trans}}</a>
               <a class="dropdown-item" href="{{ path('crypto.augmente')}}">{{'Cryptomonnaies en hausse 24H' |trans}}</a>
               <a class="dropdown-item" href="{{ path('crypto.prixsupavgan')}}">{{'Cryptomonnaies dont le prix est inferieur à la moyenne annuelle' |trans}}</a>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" >{{'Mes Favoris' |trans}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >{{ 'Liste des utilisateurs' |trans}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >{{ 'Liste des commentaires' |trans}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >{{'Connexion' |trans}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >{{'Déconnexion' |trans }}</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
<div class="col-sm-11 text-right">
    <a class="btn btn-default" href="#">
        <button type="button" class="btn btn-info">{{ 'Revenir au début'|trans }}</button>
    </a>
</div>
</body>
</html>




{#<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {#{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {#{% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
       {# {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>#}
